node_modules/
.cursor/
dist/
docs/

# SJW_NFT 폴더 외의 모든 파일/폴더 무시
/*
!SJW_NFT/
.DS_Store
__*.txt
*.mp4
aerogrid/
test-fixed/
test/
scripts/
src/
*.md
!SJW_NFT/README.md
Dockerfile
LICENSE
bun.lock
package.json
smithery.yaml
tsconfig.json
tsup.config.ts
